<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="shortcut icon" type="image/png" href="images/about.png">
    <title>About Page</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="flex-container">
        <h2><i class="fas fa-thumbtack"></i>About Sellery<i class="fas fa-thumbtack"></i></h2>
        <h3>Transforming The Way The World Works</h3    >
        <p>
            Sellery provides innovative solutions to 
            complex problems in the community gardening world. 
            We strive to work our hardest and earn our time off.
        </p>
        <div class="image">
            <img src="images/rav.jpg" alt="">
            <h3>Ravinder shokar</h3>
            <p>CEO</p>
        </div>
        <div class="image">
            <img src="images/mike.jpeg" alt="">
            <h3>Mike Lim</h3>
            <p>CTO</p>
        </div>
        <div class="image">
            <img src="images/jimun.jpg" alt="">
            <h3>Jimun Jang</h3>
            <p>Lead Programmer</p>
        </div>
        <div class="image">
            <img src="images/shawn.jpg" alt="">
            <h3>Gurshawn Sekhon</h3>
            <p>Lead Designer</p>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/dropdown.js"></script>
    <script src="https://kit.fontawesome.com/26da0e4274.js"></script>
</body>
</html>