<hr>
<div class="footer">
    <div>
        <h4>Developers - T17</h4>
        <p><a href="https://github.com/Jimun-J" target="_blank">Jimun Jang</a></p>
        <p><a href="https://github.com/itsmikelim" target="_blank">Mike Lim</a></p>
        <p><a href="https://github.com/Rshokar" target="_blank">Ravinder Shokar</a></p>
        <p><a href="https://github.com/GurshawnSekhon" target="_blank">Gurshawn Sekhon</a></p>
    </div>
    <div>
        <h4>Company</h4>
        <p><a href="/about">About Sellery</a></p>
    </div>
</div>