.flex-container {
    display: flex;
    justify-content: cetner;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    width: 720px;
    margin: 0 auto;
}

.fa-thumbtack {
    color: green;
}

h3 {
    font-style: italic;
}

.image {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    margin-top: 10px;
}

.image img {
    width: 180px;
}

