.profile {
    display: flex;
    margin: 45px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile img {
    width: 300px;
    border-radius: 150px;
    margin: 20px 50px 20px 20px;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-buttons button {
    margin-top: 20px;
    margin-right: 20px;
}

.profile-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    text-align: center;
}

#feed_search {
    display: inline;
    margin-left: 20px;
    margin-top: 5px;
    width: 200px;
    padding: 4px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

#feed_search:focus {
    border-bottom: 2px solid #387A00;
}

#feed_search:active {
	transform: scale(0.90);
}

#feed_search::placeholder {
    font-style: italic;
}

#search {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .profile {
        flex-direction: column;
    }

    .profile img {
        margin: 20px auto;
    }

    .profile-desc {
        align-items: center;
    }

    .profile-buttons {
        flex-direction: column;
    }

    .profile-buttons button {
        margin: 10px;
    }
}